* {
  margin:0;
  padding:0;
  scroll-behavior: smooth
}

/* SELECTION COLORS*/
::selection {
    background:#b50202;
    color:white;
}

::moz-selection {
    background:#b50202;
    color:white;
}
 
::webkit-selection {
    background:#b50202;
    color:white;
}

/* SCROLLBAR */
::-webkit-scrollbar {
width:9px;
height: 8px;
}

::-webkit-scrollbar-thumb {
background-color:#b50202;
border: 1px black;
}

::-webkit-scrollbar-track {
background-color:white;
}

body {
  font-family: 'Roboto Slab', serif;
  font-size:.8rem;
  letter-spacing:1px;
}

h1 {
  color:#f09e9e;
  font-size:2rem;
  font-family:'Roboto Slab', serif;
}

h1 a {
  color:#424242!important;
  text-decoration:none;
  font-weight:500;
  border-bottom:4px dashed #b50202;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

h1 a:hover {
  letter-spacing:1px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

h2 {
  text-transform:uppercase;
  font-family:'Roboto Slab', serif;
  letter-spacing:2px;
  font-weight:500;
  font-size:1.5rem;
  font-color:#424242;
  margin-bottom:10px;
  padding-top:40px;
}

ul, li {
  list-style-type:none;
  line-height:250%;
}

#nav {
  float:center;
  position:fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width:25%;
  padding:20px;
  border-right:#e3e3e3 1px solid;
  background:white;
}

#nav img {
   -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  opacity:1;
}

#nav img:hover {
   -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  opacity:.9;
}

#nav .content {
font-family: 'roboto slab', serif;
  font-size:1rem;
  color:#424242;
}

#nav .content a {
  color:#424242;
  text-transform:uppercase;
  text-decoration:none;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#nav .content a:hover {
  color:#acc26d;
  text-decoration:none;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#stuff {
  float:right;
  text-align:left;
  color:black;
  width:75%;
  height:100%;
}

#stuff .info {
  font-size:.8rem;
font-family: 'roboto slab', serif;
  letter-spacing:0px;
  padding-top:0px;
  padding-right:40px;
  padding-left:50px;
  padding-bottom:40px;
  line-height:200%;
  background-color:white;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#stuff .info:hover {
  background-color:#f5f5f5;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#stuff img {
 padding-bottom:10px; 
}


.column {
  float: left;
  width: 32%;
  padding:5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* pop up stuff */
.myImg {
    cursor: pointer;
    transition: 0.3s;
  padding-bottom:10px;
}

.myImg:hover {
  opacity: 0.9;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
  background:transparent;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}